$primary: #f4a155;
$blue_accent: #7bc5d6;
$green_accent: #88a38e;
$purple_accent: #cfb1ff;
$orange_highlight: #dd710f;
$blue_highlight: #3588ab;
$green_highlight: #485b4c;
$purple_highlight: #7b60a7;
$white: #f0f0f0;
$black: #222;
$light_grey: #9e9e9e;
$dark_grey: #424242;
